body{
    background-repeat:repeat;
    background-image: url('http://p1.pichost.me/i/54/1771800.jpg');

}

#webtitle{
  background: black;
  height: 100px;
  padding: 50px;
  color: white;

}

h2{
    color:white;
    padding: 10px;
    text-shadow: 5px 5px 5px #FF0000;
}

#box1{

}

#box2{

}

#box3{

}

#box4{

}

#box5{


}

/* temp ... */
.test-class {
  background-image:none;
}

.transition {
  border: 5px solid;
  border-radius: 25px;
  margin-bottom: 100px;
  padding: 10px;
  width: 256px;
  height: 256px;
  position: absolute;
  /*background: url(https://raw.githubusercontent.com/Seth-willis/NaturalCatchdev/master/source/images/csg-545057e6c56b5.png) no-repeat top left;*/
}
/*remove hover and make it click able*/
/*.transition:hover{
  background-image:none;
}*/

section {
  /*background:grey;*/
  /*border:solid;*/
  opacity: 0;
  padding: 10px;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

section:hover {
  opacity: 1;
}


.sprite{
  background-image: url('./images/csg-545057e6c56b5.png');
  background-repeat: no-repeat;
}
.no-sprite{
  background-image: none;
}
.sprite-ant_256{ background-position: 0 0; width: 256px; height: 256px; }
.sprite-black_spider_256{ background-position: 0 -306px; width: 256px; height: 256px; }
.sprite-cockroach_256{ background-position: 0 -612px; width: 256px; height: 256px; }
.sprite-dragon_fly_256{ background-position: 0 -918px; width: 256px; height: 256px; }
.sprite-flea_256{ background-position: 0 -1224px; width: 256px; height: 256px; }
.sprite-mantis_256{ background-position: 0 -1530px; width: 256px; height: 256px; }
.sprite-termite_256{ background-position: 0 -1836px; width: 256px; height: 256px; }
.sprite-tick_256{ background-position: -306px 0; width: 256px; height: 256px; }



/*change names for transitions*/
.transition1{
  border-color: black;
  background-color: orange;
  border: 3px;
  border-style: solid;
  border-color: black;
  left: 50px;
  top: 70px;

  /*background: no-repeat white url('https://raw.githubusercontent.com/Seth-willis/NaturalCatchdev/master/source/images/ant_256.png');*/
}

.transition2{
  /* customize colour and border for all */
  /*background-position: 0 -306px;*/
  background-color: grey;
  border: 3px;
  border-style: solid;
  border-color: black;
  top: 30%;
  right:70%;
}

.transition3{
  /*background-position: 0 -612px;*/
  background-color: grey;
  border: 3px;
  border-style: solid;
  border-color: black;
  right: 40%;
  top: 60%;
}
.transition4{
  /*background-position: 0 -1224px;*/
  background-color: grey;
  border: 3px;
  border-style: solid;
  border-color: black;
  left: 40%;
  top: 90%;

}
.transition5{
  /*background-position: -306px 0;*/
  background-color: yellow;
  border: 3px;
  border-style: solid;
  border-color: black;
  left: 40%;
  top: 90%;
}
/* Transitions to make boxes blue/red, could use these for image transition in the future.*/

/*.transition1{
    position: relative;
}

.transition1 .hidden{
    background-color:blue;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition1:hover .hidden{
    opacity: 1;


}
.transition2{
    position: relative;
}

.transition2 .hidden{
    background-color:red;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition2:hover .hidden{
    opacity: 1;
}

.transition3{
    position: relative;
}

.transition3 .hidden{
    background-color:blue;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition3:hover .hidden{
    opacity: 1;
}

.transition4{
    position: relative;
}

.transition4 .hidden{
    background-color:red;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition4:hover .hidden{
    opacity: 1;
}

.transition5{
    position: relative;
}

.transition5 .hidden{
    opacity: 1;
}

.transition5:hover .hidden{
    background-color:blue;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: opacity 1s ease-in;
    border: 2px solid;
    border-radius: 25px;
}*/
