body{
    background-repeat:no-repeat;
    background-image: url('http://p1.pichost.me/i/54/1771800.jpg');

}

#webtitle{
  background: black;
  height: 100px;
  padding: 50px;
  color: white;

}

h2{
    color:white;
    padding: 10px;
    text-shadow: 5px 5px 5px #FF0000;
}

#box1{

}

#box2{

}

#box3{

}

#box4{

}

#box5{


}

.transition {
  border: 2px solid;
  border-radius: 25px;
  margin-bottom: 100px;
  padding: 10px;
  width: 256px;
  height: 256px;
  position: absolute;
  background: url(https://raw.githubusercontent.com/Seth-willis/NaturalCatchdev/master/source/images/csg-545057e6c56b5.png) no-repeat top left;
}

.transition:hover{
  background-image:none;
}

section {
  /*background:grey;*/
  border:solid;
  opacity: 0;
  padding: 10px;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

section:hover {
  opacity: 1;
}

.transition1{
  border-color: brown;
  background-color: blue;
  left: 20%;
  bottom: 25%;
  /*background: no-repeat white url('https://raw.githubusercontent.com/Seth-willis/NaturalCatchdev/master/source/images/ant_256.png');*/
}

.transition2{
  /* customize colour and border for all */
  background-position: 0 -306px;
  background-color: red;
  right: 5em;
  top: 50%;

}

.transition3{
  background:white;
}
.transition4{
  background:white;
}
.transition5{
  background-color:white;
}
/* Transitions to make boxes blue/red, could use these for image transition in the future.*/

/*.transition1{
    position: relative;
}

.transition1 .hidden{
    background-color:blue;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition1:hover .hidden{
    opacity: 1;


}
.transition2{
    position: relative;
}

.transition2 .hidden{
    background-color:red;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition2:hover .hidden{
    opacity: 1;
}

.transition3{
    position: relative;
}

.transition3 .hidden{
    background-color:blue;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition3:hover .hidden{
    opacity: 1;
}

.transition4{
    position: relative;
}

.transition4 .hidden{
    background-color:red;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition4:hover .hidden{
    opacity: 1;
}

.transition5{
    position: relative;
}

.transition5 .hidden{
    opacity: 1;
}

.transition5:hover .hidden{
    background-color:blue;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: opacity 1s ease-in;
    border: 2px solid;
    border-radius: 25px;
}*/
