body{
    background-repeat:no-repeat;
    background-image: url('http://p1.pichost.me/i/54/1771800.jpg');
}

#webtitle{
  background: black;
  height: 100px;
  padding: 50px;
  color: white;

}

h2{
    color:white;
    padding: 10px;
    text-shadow: 5px 5px 5px #FF0000;
}
section{
    background:grey;
    border:solid;
}

#box1{
    position:right;
    padding:50px;
    margin:20px;
}

#box2{
    position:left;
    padding:50px;
    margin:20px;
}

#box3{
    position:right;
    padding:50px;
    margin:20px;

}

#box4{

    position:left;
    padding:50px;
    margin:20px;
}

#box5{
    position:right;
    padding:50px;
    margin:20px;

}

/* Transitions to make boxes blue/red, could use these for image transition in the future.*/

.transition1{
    position: relative;
}

.transition1 .hidden{
    background-color:blue;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition1:hover .hidden{
    opacity: 1;


}
.transition2{
    position: relative;
}

.transition2 .hidden{
    background-color:red;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition2:hover .hidden{
    opacity: 1;
}

.transition3{
    position: relative;
}

.transition3 .hidden{
    background-color:blue;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition3:hover .hidden{
    opacity: 1;
}

.transition4{
    position: relative;
}

.transition4 .hidden{
    background-color:red;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition4:hover .hidden{
    opacity: 1;
}

.transition5{
    position: relative;
}

.transition5 .hidden{
    background-color:blue;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    opacity: 0;
    transition: all 1s ease;
    border: 2px solid;
    border-radius: 25px;
}

.transition5:hover .hidden{
    opacity: 1;
}
